<div class="user-details">
  <h1>About</h1>
  <p><img class="img-responsive" src="/assets/img/headshot.png" alt="" /></p>
  <p>{{ site.user_description }}</p>
</div>
<div class="user">
  <div class="tech">
    <h2>Contact</h2>
    <p>My public: <a href="https://dellrud.se/assets/email-gpg.asc">GPG Key</a></p>
    <p>My email: <a href="mailto: contact@dellrud.se">contact@dellrud.se</a></p>
  </div>
  <div class="tech">
    <h2>Freedom</h2>
    <p>We do not only believe in Open when it comes to Linux but to the free and available knowledge to all. Free information creates and grows with those whom are teached and will benefit more if shared rather then collected.</p>
  </div>
  <div class="tech">
    <h2>Credo</h2>
    <p>One of the human conditions is our will to explore the unknown, our curiosity for the unexplained. Our irresistible yearning for knowledge. The mind that tries and fails and tries again. Our will to solve the problems, find logic in chaos and to have fun.</p>
  </div>
  <div class="tech">
    <h2>Openness</h2>
    <p>As with all Linux we love Opensource. But since we are neither, coders nor creators we have only our knowledge to share what we know. So our contribution to the Opensource community is this site.</p>
  </div>
</div>